---
import { Image } from "astro:assets";

import illustrationDesktop from "../assets/illustration-desktop.svg";
import illustrationMobile from "../assets/illustration-mobile.svg";
---

<div class="rounded-b-2xl lg:order-2">
  <picture>
    <source srcset={illustrationDesktop.src} media="(min-width: 1024px)" />
    <Image src={illustrationMobile} alt="" class="w-full h-full bg-cover" />
  </picture>
</div>
